html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,*::before,*::after{
  -webkit-box-sizing: inherit;
          box-sizing: inherit;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Stolzl', sans-serif;
  color: #000000;
}

h2,
h1 {
  margin: 0;
  padding: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.body {
  background: url(img/back.png) no-repeat,
              url(img/background.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-item {
  background-color: #ffffff;
  width: 272px;
  border-radius: 3px;
  margin-bottom: 55px;
  position: relative;
}

.img {
  width: 272px;
  height: 180px;
  overflow: hidden;
  border-radius: 2px;
}

.img img {
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.img img:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}

.container {
  width: 400px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalog-title {
  font-size: 16px;
  line-height: 16px;
  width: 250px;
  padding: 0 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-title {
  font-size: 24px;
  line-height: 24px;
  color: #3d6f2f;
  background-color: #eaeaea;
  border-top: 2px solid #a3c755;
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  margin-bottom: 20px;
  left: 0;
  top: 0;
  z-index: 1;
}

.title {
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 95px;
  margin-bottom: 30px;
  text-align: center;
}

.amazing {
  color: #a3c755;
}

.tag {
  padding: 0 18px;
  margin-bottom: 10px;
}

.tag a {
  font-size: 12px;
  line-height: 12px;
  color: #49bbf0;
  text-decoration: none;
}

.eye,
.heart {
  font-size: 12px;
  line-height: 12px;
  color: #515151;
  margin-bottom: 10px;
  display: inline-block;
}

.heart {
  padding-left: 25px;
  position: relative;
}

.eye {
  padding-left: 35px;
  position: relative;
}

.eye::before {
  content: "";
  position: absolute;
  background-image: url(img/eye.png);
  background-repeat: no-repeat;
  background-size: 14px 11px;
  width: 14px;
  height: 11px;
  left: 18px;
  bottom: 1px;
  opacity: 0.3;
}

.heart::before {
  content: "";
  position: absolute;
  background-image: url(img/heart.png);
  background-repeat: no-repeat;
  background-size: 11px 10px;
  width: 11px;
  height: 10px;
  left: 12px;
  bottom: 1px;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 960px) {
  .container {
    min-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (min-width: 960px) {
  .catalog-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
